.Container{
    background-color: pink; 
    border-width: 20%;
    border: solid;
    width: 95%;
    height: 700px;
    text-align: center;
    font-size: xx-large;
    margin: 40px;
    border-radius: 15px;
}
.topnav{
    border: 0ch;
    display: flex;
    gap: 3%;
    justify-content: center;
}
.sign-in{
    border: salmon;
    background-color: pink;
    font-size: medium;

}
.topBTN{
    background-color: black;
    color: antiquewhite;
    border-radius: 8px;
    width: 8%;
    height: 40px;
    font-size: large;
    margin: 1%;
}
.box{
    display: flex;
    justify-content: center;
    gap: 1%;

}

.footer{
background-color: white;
display: flex;
gap: 4%;
font-size: x-large;
justify-content: center;
border-radius: 8px;
}
.div{
    display: block;

}
.search{
    background-color: pink;
    font-size:x-large;
    width: 20%;
    height: 70%;
    border-radius: 8px;
    margin: 1%;

}
@media screen and (min-width:250px) and (max-width: 950px){
    .menu, .main, .right{
        width: 60%
    }
    .Container{
        background-color: pink;border-width: 90%;
        border: solid;
        width: 95%;
        height: 700px;
        text-align: center;
        font-size: xx-large;
        margin: 100px;
        border-radius: 19px;
    }
    .topnav{
        border: 0ch;
        display: flex;
        gap: 3%;
        justify-content: center;
    }
    .sign-in{
        border: salmon;
        background-color: pink;
        font-size: medium;
    
    }
    .topBTN{
        background-color: black;
        color: antiquewhite;
        border-radius: 8px;
        width: 8%;
        height: 40px;
        font-size: large;
        margin: 1%;
    }
    .box{
        display: flex;
        justify-content: center;
    
    }
    .footer{
        background-color: white;
        display: flex;
        gap: 4%;
        font-size: x-large;
        justify-content: center;
        border-radius: 8px;
        }
        .div{
            display: block;
        
        }
        .search{
            background-color: pink;
            font-size:x-large;
            width: 20%;
            height: 70%;
            border-radius: 8px;
            margin: 1%;
        
        }
    
}
